.btn {
  color: white;
  background-color: var(--btn-bg);
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  font-size: 0.75rem; /* 14px */
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  font-weight: 600;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
  display: inline-flex;
  border: none;
  outline: none;
  padding-inline: 1rem;
  text-decoration: none;
}

.btn-lg {
  height: 3rem;
  padding-inline: 1rem;
}

.btn-primary {
  --btn-bg: var(--color-primary);
}

.btn-primary:hover {
  --btn-bg: var(--color-primary-hover);
}
